* {
  box-sizing: border-box;
  max-width: 100%;
}

html {
  font-family: "Lexend Deca", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #096060;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-image: url("/img/background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

